<tr>
    <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
        <img src="https://cinema.gastmall.net/views/images/logo.png" alt="Gast Cinema"
            style="display: block;padding: 30px;border: none;-ms-interpolation-mode: bicubic;max-width: 100%;"
            width="130" border="0">
    </td>
</tr>